:root {
  --text-white: #e8eaed;
  --bg: #202124;
  --light-bg: #303134;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg);
}

::-webkit-scrollbar-thumb {
    background: #5c5c5c;
    border-radius: 5px;
}

*,
:after,
:before{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    background: var(--bg);
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    gap: 20px;
    color: var(--text-white);
}

h1{
    font-size: 50px;
    margin-bottom: 40px;
    color: var(--text-white);
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#input_container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 14px;
    transition: .3s;
}

#input_container select,
#input_container input{
    width: 100%;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    background: var(--light-bg);
    color: var(--text-white);
    padding: 6px 10px;
    height: auto;
}

.inputs_row{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    gap: 30px;
}

.inputs_row > div{
    width: 50%;
    display: grid;
    align-content: space-between;
    align-items: end;
}

.inputs_btns{
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 14px;
}

.inputs_btns button{
    padding: 5px 10px;
    opacity: .8;
    font-size: 15px;
    transition: .2s;
}

.inputs_btns button:hover{
    cursor: pointer;
    opacity: 1;
}

#contenedor_tabla{
    margin-bottom: 80px;
    overflow-x: scroll;
    width: calc(100% - 60px);
    padding-bottom: 20px;
}

div[data-input="algor_reemplazo"][data-visible="false"]{
    display: none;
}

label{
    font-weight: bold;
    margin-bottom: 6px;
    display: block;
}

table {
    font-family: arial, sans-serif;
    width: 100%;
    margin-top:50px;
    border-collapse: collapse;
    font-size: 14px;
}

td, th {
    border: 1px solid #5c5c5c;
    text-align: left;
    padding: 6px;
}

th {
    background: var(--light-bg);
}

td:nth-child(1){
    background: var(--light-bg);
    font-weight: 500;
}

td:not(:nth-child(1)){
    font-weight: 300;
    min-width: 200px;
}

td.highlight{
    background-color: #fc8686;
    font-weight: bold;
    color: black;
}