:root {
  --text-white: #e8eaed;
  --bg: #202124;
  --light-bg: #303134;
  --font: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg);
}

::-webkit-scrollbar-thumb {
    background: #5c5c5c;
    border-radius: 5px;
}

*,
:after,
:before{
    box-sizing: border-box;
}

*[data-visible="false"]{
    display: none;
}

html{
    background: var(--bg);
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    gap: 20px;
    color: var(--text-white);
    font-family: var(--font);
}

h1{
    font-size: 50px;
    margin-bottom: 40px;
    color: var(--text-white);
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#input_container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 14px;
    transition: .3s;
}

#input_container select,
#input_container input{
    width: 100%;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    background: var(--light-bg);
    color: var(--text-white);
    padding: 6px 10px;
    height: auto;
}

.inputs_row{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    gap: 30px;
}

.inputs_row > div:not([data-visible="false"]){
    width: 50%;
    display: grid;
    align-content: space-between;
    align-items: end;
}

.inputs_btns{
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 14px;
}

.inputs_btns button{
    padding: 5px 10px;
    opacity: .8;
    font-size: 15px;
    transition: .2s;
    font-family: var(--font);
}

.inputs_btns button:hover{
    cursor: pointer;
    opacity: 1;
}

label{
    font-weight: bold;
    margin-bottom: 6px;
    display: block;
}


/* ******************************************************** */
/* ******************** BTN SCREENSHOT ******************** */
/* ******************************************************** */

#copiar_trabla {
    font-style: italic;
    cursor: pointer;
    padding: 20px;
    margin-bottom: 0;
    width: fit-content;
    margin: auto;
    transition: .2s;
}

#copiar_trabla:hover {
    transform: rotate(2deg);
}

#copiar_trabla:before,
#copiar_trabla:after {
    font-size: 20px;
    display: inline-block;
}

#copiar_trabla:before {
    content: "\1F449";
    animation: 2.5s anim-right infinite;
}

#copiar_trabla:after {
    content: "\1F448";
    animation: 2.5s anim-left infinite;
}

@keyframes anim-left {
    0% {
        opacity: 1;
        transform: translateX(20%);
    }
    50% {
        opacity: 0;
        transform: translateX(80%);
    }
    100% {
        opacity: 1;
        transform: translateX(20%);
    }
}

@keyframes anim-right {
    0% {
        opacity: 1;
        transform: translateX(-20%);
    }
    50% {
        opacity: 0;
        transform: translateX(-80%);
    }
    100% {
        opacity: 1;
        transform: translateX(-20%);
    }
}

/* ******************************************************** */
/* ************************ TABLAS ************************ */
/* ******************************************************** */

#contenedor_tabla{
    overflow-x: scroll;
    width: 80%;
    padding-bottom: 20px;
}

#contenedor_tabla[data-incomplete]{
    max-width: 650px;
    display: flex;
    gap: 60px;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 40px;
}

#contenedor_tabla .step{
    display: grid;
    align-content: center;
    justify-items: center;
    text-align: center;
}

#contenedor_tabla .step p{
    font-style: italic;
}

#contenedor_tabla .step button{
    padding: 5px 10px;
    opacity: .8;
    font-size: 15px;
    transition: .2s;
    font-family: var(--font);
    position: relative;
}

#contenedor_tabla .step button:after{
    font-size: 20px;
    display: inline-block;
    position: absolute;
    right: -35px;
    top: -5px;
    content: "\1F448";
    animation: 2.5s anim-left infinite;
    opacity: 0;
}

#contenedor_tabla .step button:before{
    font-size: 20px;
    display: inline-block;
    position: absolute;
    left: -35px;
    top: -5px;
    content: "\1F449";
    animation: 2.5s anim-right infinite;
    opacity: 0;
}

#contenedor_tabla .step button:hover{
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    font-family: var(--font);
}

table select{
    font-size: 14px;
    font-family: var(--font);
    font-weight: 100;
    background: none;
    color: var(--text-white);
    border: none;
    width: 100%;
}

table select:focus{
    font-weight: 100;
    background: var(--bg);
    color: var(--text-white);
    border: none;
    outline: none;
}

td, th {
    border: 1px solid #5c5c5c;
    text-align: left;
    padding: 6px;
    white-space: nowrap;
}

th {
    background: var(--light-bg);
}

td {
    font-weight: 300;
}

th:nth-child(1),
td:nth-child(1){
    background: var(--light-bg);
    text-align:center;
    font-weight: 500;
}

td i{
    opacity: .8;
    font-weight: 100;
    font-size: 11px;
}

td.highlight{
    background-color: #fc8686;
    font-weight: bold;
    color: black;
}

td.highlight i{
    font-weight: bold;
}

/* ********* Tabla para captura ********* */

#contenedor_captura {
    background: white;
    color: black;
    width: 850px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#contenedor_captura *{
    font-family: system-ui;
}

#contenedor_captura table:last-child:not(:nth-child(1)){
    width: fit-content; 
}

#contenedor_captura th,
#contenedor_captura td:not(.highlight) {
    background: none;
    font-size: 16px;
}

#contenedor_captura th:nth-child(1),
#contenedor_captura td:nth-child(1) {
    width: 54px;
}




/* ******************************************************** */
/* *********************** FÓRMULAS *********************** */
/* ******************************************************** */

#formulas[data-visible="true"] {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    font-size: 14px;
}

#formulas > div{
    flex-basis: 50%;
    text-align: center;
    margin-bottom: 20px;
}

#formulas > div:last-child{
    flex-grow: 1;
}

#tiempo_medio{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: fit-content;
    margin: 0 auto 30px auto;
    gap: 3px;
}

#tiempo_medio > div{
    display: flex;
    justify-content: space-between;
    position: relative;
}

#tiempo_medio > div:after{
    font-size: 20px;
    display: var(--display, inline-block);
    position: absolute;
    right: -25px;
    top: -5px;
    content: "\1F448";
    animation: 2.5s anim-left infinite;
    opacity: 0;
}

#tiempo_medio > div:nth-child(1):after{
    animation-delay: .1s;
}

#tiempo_medio label {
    text-align: left;
    display: inline-block;
    opacity: .8;
    font-size: 12px;
    margin-right: 10px;
}

#tiempo_medio input {
    background: var(--light-bg);
    color: var(--text-white);
    font-family: var(--font);
    border-width: 1px;
    padding: 0 6px;
    width: 60px;
}

#tiempo_medio input:focus {
    outline: none;
}



/* ******************************************************** */
/* ************************ FOOTER ************************ */
/* ******************************************************** */

footer {
    font-weight: 300;
    font-size: 12px;
    margin-top: 40px;
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    font-size: inherit;
    color: var(--text-white);
    font-style: italic;
    transition: .3s;
}

footer a:hover {
    text-decoration: underline;
    padding-left: 5px;
}



/* ******************************************************** */
/* ********************** RESPONSIVE ********************** */
/* ******************************************************** */


@media screen and (max-width: 1300px) {
    #contenedor_tabla,
    #formulas {
        width:90%;
    }
}
